<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")

</head>
<body>
    <div class="container" style="background-color:rgba(255,255,255,0.83)">
        <div class="page-header">
            <h1>湛江一中IT社 网络报名系统</h1>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2013 - @DateTime.Now.Year 湛江一中IT社 保留所有权利</p>
            <p>本网站运行于 <a href="http://azure.microsoft.com/en-us/" target="_blank">Microsoft Azure</a> 北京数据中心</p>
        </footer>
    </div>
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)
</body>
</html>