<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" style="background-color:rgba(255,255,255,0.83)">
        <div class="page-header">
            <h1>湛江一中IT社 网络报名系统</h1>
        </div>
        @if (DateTime.Now < new DateTime(2014, 7, 10, 18, 55, 0))
        {
            <p class="alert alert-warning">湛江一中IT社2014招新工作将于2014年7月10日晚上7:00开始，在此之前提交的报名信息将会在7月10日晚上6:55清空，请耐心等待。</p>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2013 - @DateTime.Now.Year 湛江一中IT社 保留所有权利</p>
            <p>本网站运行于 <a href="http://azure.microsoft.com/en-us/" target="_blank">Microsoft Azure</a> 北京数据中心</p>
        </footer>
    </div>
    @System.Web.Optimization.Scripts.Render("~/bundles/val")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
</body>
</html>